* {

}

h1 {

}

body {
  position: relative;

  background: #F4F0ED;
  font-family: 'Helvetica', sans-serif;
}

.container {
  display: grid;
  grid-template-columns: repeat(12,auto);
  grid-auto-columns: minmax(40px,auto);
  grid-gap: 15px;
  padding: 150px;


}

.container > div {

}



.logo {
 width: 150px;
 grid-column: 1/3;
 grid-row: 1/2;
}

.about  {
  grid-column: 12/13;
  grid-row: 1/2;
  text-align: right;
  align-self: start;
  justify-self: end;
  font-size: 20px;
}

.asterisk {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 200;
  color: #E7014D;
}


.asterisk1 {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 200;
  color: #F4F0ED;
}

.asterisk2 {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 200;
  color: #E7014D;
  position: relative;
  left: -15px;
  bottom: -25px;
}

.zzip-intro {
  grid-column: 1/10;
  grid-row: 15;
  font-size: 20px;
  font-size: 20px;
  line-height: 28px;
  /* or 140% */

  letter-spacing: 0.02em;
}

.zzip-title {
  font-size: 30px;
  font-weight: bold;

}

.zzip-time {
  font-size: 15px;
  line-height: 17px;
  /* identical to box height */

  letter-spacing: 0.02em;

}

.zzip-body-container {
  grid-column: 1/14;
  grid-row: 35;
  object-fit: contain;

  display: grid;
  grid-template-columns: repeat(12,auto);
  grid-auto-columns: minmax(40px,auto);
  grid-row-gap: 220px;

}

.zzip-body-container > div {
  background: #aaa;
}

.zzip-cover {
  grid-column: 1/14;
}

.zzip-logo-variations {
  grid-row: 2;
  grid-column: 1/14;
}




a {
  text-decoration: none;
  color: black;
}

a:hover {
  font-weight: bold;
}

/*
@media screen and (max-width: 750px) {
  .container {
    display: grid;
    grid-template-columns: repeat(4,auto);
    grid-auto-columns: minmax(40px,auto);
    grid-gap: 15px;
    padding: 10px;
  }
}
*/
