* {

}

h1 {

}

body {
  position: relative;

  background: #151515;
  font-family: 'Montserrat', sans-serif;
  color: white;

}

.container {
  margin-left: 180px;
  margin-right: 180px;
  margin-top: 50px;
  margin-bottom: 50px;

  display: grid;
  grid-template-columns: repeat(12,auto);
  grid-auto-columns: minmax(40px,auto);
  grid-gap: 30px;



}

.container > div {

}

.logo {
 grid-column: 1/2;
}


.nav-projects {
 grid-column: 9/9;
 align-self: end;

 font-size: 16px;
}


.nav-about {
 grid-column: 11/11;
 align-self: end;

 font-size: 16px;
}

.home-bio {
  grid-column: 9/12;
  grid-row: 3/4;

  font-size: 24px;
  line-height: 36px;
}

.featured-works {
  grid-column: 9/12;
  grid-row: 7/8;

  font-size: 24px;
  font-weight: 900;
}

.hide {
  display: none;
}

.work1 {
  grid-column: 9/9;
  grid-row: 9/10;

  font-size: 16px;
  line-height: 25px;
}

.work1 img{
    display: none
}

.work1 span:hover {
  font-weight: bold;
  font-style: italic;
}

.work1 span:hover + img{
    display: block;
    position: absolute;
    left: 370px;
    top: 500px;
}



.work2 {
  grid-column: 11/11;
  grid-row: 9/10;

  font-size: 16px;
  line-height: 25px;
}

.work2 img{
    display: none
}

.work2 span:hover + img{
    display: block;
    position: absolute;
    left: 370px;
    top: 500px;
}

.work3 {
  grid-column: 9/9;
  grid-row: 11/12;

  font-size: 16px;
  line-height: 25px;
}

.work3 img{
    display: none
}

.work3 span:hover + img{
    display: block;
    position: absolute;
    left: 370px;
    top: 500px;
}

.work4 {
  grid-column: 11/11;
  grid-row: 11/12;

  font-size: 16px;
  line-height: 25px;
}

.work4 img{
    display: none
}

.work4 span:hover + img{
    display: block;
    position: absolute;
    left: 370px;
    top: 500px;
}

.hide {
  display: none;
}

.more {
  grid-column: 9/9;
  grid-row: 13/14;

  font-size: 16px;
  font-style: italic;
  opacity: 50%;
}



a {
  text-decoration: none;
  color: white;
}

a:hover {
  font-weight: bold;
}





.wrapper-asterisk {text-align:center;}

.spin-asterisk {
  transition: all 800ms ease-in-out;
  position: absolute;
  top: 42px;
  left: 140px;
}

.spin-asterisk:hover {
  -ms-transform: rotate(360deg); /* IE 9 */
  -webkit-transform: rotate(360deg); /* Chrome, Safari, Opera */
  transform: rotate(360deg);
}


.about  {
  grid-column: 12/13;
  grid-row: 1/2;
  text-align: right;
  align-self: center;
  justify-self: end;
  font-size: 20px;
}

.asterisk {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 200;
  color: #E7014D;
}




.projects {
  grid-column: 1;
  grid-row: 10;
  font-size: 30px;
}






/*
.spin {
  fill: #E7014D;
  width: 100px;
  height: 100px;

  transition: width 2s, height 2s, transform 2s;

}

.spin:hover {
  width: 300px;
height: 300px;
transform: rotate(360deg);
}

*/




/*
@media screen and (max-width: 750px) {
  .container {
    display: grid;
    grid-template-columns: repeat(4,auto);
    grid-auto-columns: minmax(40px,auto);
    grid-gap: 15px;
    padding: 10px;
  }
}
*/
