* {

}

h1 {

}

body {
  position: relative;

  background: #151515;
  font-family: 'Montserrat', sans-serif;
  color: white;

}

.container {
  margin-left: 180px;
  margin-right: 180px;
  margin-top: 50px;
  margin-bottom: 50px;

  display: grid;
  grid-template-columns: repeat(12,1fr);
  grid-auto-columns: minmax(40px,auto);
  grid-gap: 30px;



}

.container > div {

}

.logo {
 grid-column: 1/2;
}


.nav-projects {
 grid-column: 8/9;
 align-self: end;

 font-size: 16px;
}


.nav-about {
 grid-column: 11/12;
 align-self: end;

 font-size: 16px;
 font-weight: bold;
}


.about-bio {
  grid-column: 8/12;
  grid-row: 3/4;

  font-size: 16px;
  line-height: 25px;
}



.about-contact {
  grid-column: 8/12;
  grid-row: 6/7;

  font-size: 16px;
  line-height: 25px;
}

.about-contact span{
  font-weight: bold;
}



.about-resume {
  grid-column: 11/13;
  grid-row: 6/7;

  font-size: 16px;
  line-height: 25px;
}

.about-resume span{
  font-weight: bold;
}



a {
  text-decoration: none;
  color: white;
}

a:hover {
  font-weight: bold;
}
