* {

}


body {
  background: white;
  font-family: 'Helvetica', sans-serif;
  color: black;

  padding: none;
  margin: 00px;
  font-size: 16px;
  letter-spacing: 0.03em;
  line-height: 19.5px;


}

.navbar {
  background-color: #3333ff;
  height: 40px;

  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-gap: 20px;
  padding: 10px 50px 15px 50px;

}

.navbar a {
  color: white;
}

.navbar .home {
  grid-column: 1/5;
  align-self: center;

  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.04em;

}

.navbar .work {
  grid-column:7/8;
  align-self: center;

  font-size: 20px;
  font-weight: normal;
  letter-spacing: 0.04em;

}

.navbar .about {
  grid-column:9/10;
  align-self: center;

  font-size: 20px;
  font-weight: normal;
  letter-spacing: 0.04em;

}

.container {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-row-gap: 50px;
  grid-column-gap: 20px;

  padding: 50px;

  background-color: white;
  color: black;

}

.container > div {

}

.container-about {
  grid-column: 7/13;

  color: #3333ff;
  font-size: 50px;
  line-height: 59.65px;
  letter-spacing: 0.03em;
}


.about-text {

}

.about-text img{
    display: none
}

.about-text span:hover + img{
    display: block;
    position: absolute;
    left: 370px;
    top: 500px;
}

.about-text span:hover {
  -webkit-text-decoration: solid underline;
  text-decoration: solid underline;
  -webkit-text-underline-position: under;
  text-underline-position: under;
}

.about1 {

}

.about2 {

}

.about3 {

}

.about4 {

}

.about5 {

}

.about-text a:hover {
  -webkit-text-decoration: solid underline;
  text-decoration: solid underline;
  -webkit-text-underline-position: under;
  text-underline-position: under;
}





a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.about-text a {
  color: #3333ff;
}
