* {

}

h1 {

}

body {
  position: relative;

  background: #151515;
  font-family: 'Montserrat', sans-serif;
  color: white;

}

.container {
  margin-left: 180px;
  margin-right: 180px;
  margin-top: 50px;
  margin-bottom: 50px;

  display: grid;
  grid-template-columns: repeat(12,auto);
  grid-auto-columns: minmax(40px,auto);
  grid-gap: 30px;



}

.container > div {

}

.logo {
 grid-column: 1/2;
}


.nav-projects {
 grid-column: 9/9;
 align-self: end;

 font-size: 16px;
}


.nav-about {
 grid-column: 11/11;
 align-self: end;

 font-size: 16px;
}
